<div class=" container">







  <!-- ======= Resume Section ======= -->
  <section id=" " class=" ">
    <div class="container" data-aos="fade-up">

      <div style="text-align: center;">
        <br><br>
          <h2 style="text-align:  center;font-size: 35PX;font-family: Georgia, 'Times New Roman', Times, serif;color: #eb68c8;font-weight: bold;">Profil</h2><br><br>
        <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">

          <img src="../../assets/img/njm.jpg" alt="" width="250px" height="250px">
          </div>
       </div>
<br><br>


      <hr class="uk-divider-small">


      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4 style="text-align: center;">Jarray Najmeddine</h4>

            <p>
            <ul>
              <li>Kairouan , TN</li>
              <li>+21628253437</li>
              <li>najmejarray@gmail.com</li>
            </ul>

          </div>
          <hr class="uk-divider-small">


















        </div>

        <div class="col-lg-6">
          <h2 class="resume-title">Education</h2>
          <div class="resume-item">




            <h5>2015  </h5>
            <p><em>  Study at Aghlabid High School kairouan</em></p>
            <h5>2020  </h5>
            <p><em>  </em></p>
            <p>
            <ul>
              <li>  Baccalaureate certificate experimental science specialization</li><br>
              <li>  Study at the Higher Institute of Applied Mathematics and Informatique in Kairouan </li>

            </ul>

          </div>
          <hr class="uk-divider-small">

        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->



<!-- ======= Footer ======= -->




</div>




  <!-- Remove the container if you want to extend the Footer to full width. -->
  <div class="container my-5">

    <footer class="text-center text-lg-start" style="background-color: #eb68c8;">
      <div class="container d-flex justify-content-center py-5">
        <a href="https://www.facebook.com/najmestar"> <button type="button" class="btn btn-primary btn-lg btn-floating mx-2"  style="background-color: #54456b;">
          <i class="fab fa-facebook-f"></i>
        </button></a>


        <a href="https://www.youtube.com/channel/UCaI1qlfoj52nEucprKrdBow"> <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
          <i class="fab fa-youtube"></i>
        </button></a>

  <a href="https://www.instagram.com/jarray__najmeddine/?hl=fr">  <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
          <i class="fab fa-instagram"></i>
        </button>
  </a>
  <a href="https://github.com/Najme0902">
    <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
     <i class="fab fa-github"></i>
 </button>
 </a>

      </div>


    </footer>

  </div>
  <!-- End of .container -->

