<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="section-title" style="text-align: center;">
      <br><br>
      <h2 style="text-align:  center;font-size: 35PX;font-family: Georgia, 'Times New Roman', Times, serif;color: #eb68c8;font-weight: bold;">About</h2><br><br>

     </div>

    <div class="row">
      <div class="col-lg-4">
        <img src="../../assets/img/njm.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content">
        <h3>Embedded System And IOT</h3>
        <p class="fst-italic">
          I am a student in the Higher Institute of Applied Mathematics and Computer Science of Kairouan.
        </p>
        <div class="row" style="font-size: 22PX;">
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-rounded-right"></i> <strong>Birthday:</strong> 2  February 2000</li>
              <li><i class="bi bi-rounded-right"></i> <strong>Website:</strong> *******</li>
              <li><i class="bi bi-rounded-right"></i> <strong>Phone:</strong> +21628259497</li>
              <li><i class="bi bi-rounded-right"></i> <strong>City:</strong> City : Kairouan, TUNISIE</li>
              <li><i class="bi bi-rounded-right"></i> <strong>BUT:</strong>  Full Stack Developer</li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-rounded-right"></i> <strong>Age:</strong> 22</li>
              <li><i class="bi bi-rounded-right"></i> <strong>Degree:</strong> Licence computer systems engineering</li>
              <li><i class="bi bi-rounded-right"></i> <strong>PhEmailone:</strong> najmejarray@gmail.com</li>
              <li><i class="bi bi-rounded-right"></i> <strong>Freelance:</strong> Available</li>
            </ul>
          </div>
        </div>
        <p style="font-size: 20PX;"><b>
          Je suis passionné par le domaine du développement (web/applications mobiles), j'ai bénéficié d'une pratique individuelle ou en groupe dans la réalisation d'activités durant mes études. C'est grâce à ma capacité d'adaptation et de recherche pour atteindre le meilleur résultat dont je sois satisfait . Je sais aussi être proactif et digne de confiance dans la réalisation de mes missions et objectifs. En plus de la trouver facile à intégrer dans des contextes de travail . Je souhaite développer mes compétences et mes connaissances dans le domaine du développement (applications web/mobiles).</b>
        </p>
      </div>
    </div>

  </div>
</section>









  <!-- ======= Skills Section ======= -->
  <section id="skills" class="skills">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2 style="font-weight: bold;font-size: 55px;">Skills</h2>
       </div>

      <div class="row skills-content">

        <div class="col-lg-6">




<span class="skill">HTML <i class="val"> </i></span>
          <div class="progress">

            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100%" aria-valuemin="0" aria-valuemax="100" style="width:100%">100%</div>
          </div>
<span class="skill">CSS <i class="val">  </i></span><br>
          <div class="progress" >

            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="80%" aria-valuemin="0" aria-valuemax="100" style="width: 80%">80%</div>
          </div>
 <span class="skill">ANGULAR <i class="val"> </i></span>
          <div class="progress">

            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50%" aria-valuemin="0" aria-valuemax="100" style="width: 55%">50%</div>
          </div>
          <span class="skill">C / C++ <i class="val"> </i></span>
          <div class="progress">

            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50%" aria-valuemin="0" aria-valuemax="100" style="width: 30%">30%</div>
          </div>
          <span class="skill">ARDIUNO <i class="val"> </i></span>
          <div class="progress">

            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50%" aria-valuemin="0" aria-valuemax="100" style="width: 25%">25%</div>
          </div>
          <span class="skill">PYTHON <i class="val"></i></span>
          <div class="progress">

            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50%" aria-valuemin="0" aria-valuemax="100" style="width: 25%">25%</div>
          </div>

        </div>

        <div class="col-lg-6">
 <span class="skill">JS / TS <i class="val"> </i></span>
          <div class="progress">

            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="40%" aria-valuemin="0" aria-valuemax="100" style="width: 40%">40%</div>
          </div>
 <span class="skill">FLUTTER / DART <i class="val"> </i></span>
          <div class="progress">

            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="60%" aria-valuemin="0" aria-valuemax="100" style="width: 60%">60%</div>
          </div>
 <span class="skill">ANDROID STUDIO <i class="val"> </i></span>
          <div class="progress">

            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="60%" aria-valuemin="0" aria-valuemax="100" style="width: 60%">60%</div>
          </div>
          <span class="skill">C# <i class="val"> </i></span>
          <div class="progress">

            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50%" aria-valuemin="0" aria-valuemax="100" style="width: 25%">25%</div>
          </div>
          <span class="skill">OFFICE <i class="val"></i></span>
          <div class="progress">

            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50%" aria-valuemin="0" aria-valuemax="100" style="width: 80%">80%</div>
          </div>

          <span class="skill">NETBEANS <i class="val"></i></span>
          <div class="progress">

            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50%" aria-valuemin="0" aria-valuemax="100" style="width: 60%">60%</div>
          </div>

        </div>

      </div>

    </div>
  </section><!-- End Skills Section -->





  <!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">

  <footer class="text-center text-lg-start" style="background-color: #eb68c8;">
    <div class="container d-flex justify-content-center py-5">
      <a href="https://www.facebook.com/najmestar"> <button type="button" class="btn btn-primary btn-lg btn-floating mx-2"  style="background-color: #54456b;">
        <i class="fab fa-facebook-f"></i>
      </button></a>


      <a href="https://www.youtube.com/channel/UCaI1qlfoj52nEucprKrdBow"> <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
        <i class="fab fa-youtube"></i>
      </button></a>

<a href="https://www.instagram.com/jarray__najmeddine/?hl=fr">  <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
        <i class="fab fa-instagram"></i>
      </button>
</a>
<a href="https://github.com/Najme0902">
   <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
    <i class="fab fa-github"></i>
</button>
</a>



    </div>


  </footer>

</div>
<!-- End of .container -->



















